version: "3.8"

services:
  database:
    image: bitnami/postgresql:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=iam_db
    networks:
      - iam-network

  api:
    build: .
    ports:
      - "3333:3333"
    environment:
      - DATABASE_URL=postgresql://docker:docker@database:5432/iam_db?schema=public
      - JWT_SECRET=sua-chave-secreta-aqui
    depends_on:
      - database
    networks:
      - iam-network

networks:
  iam-network:
    driver: bridge
